<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Настя, привет!</h1>
    <p>Вот твой проект. Удачи!</p>
  </body>
</html>
