@import "./variables.less";
@import "./common.less";

@butterfly-padding: 150px;

* {
  margin: 0;
  padding: 0;
}

.header-container {
  position: relative;
  width: 700px;
  height: 550px;
  border: none;
  background: url("../images/1.png") no-repeat center center;
  background-size: cover;
  margin: auto;

  & .header {
    position: absolute;
    bottom: 7%;
    right: 3%;
    background-color: @darkBlueFaded;
    color: white;
    transition: all 2s;
    z-index: 1;
    width: 250px;


    &:hover {
      background-color: @darkBlue;
      z-index: 3;
    }

    & h1,
    & h2 {
      margin: 10px 0;
      padding: 5px;
    }
  }

  & .summary {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: @blue;
    color: white;
    z-index: 2;

    & p {
      margin: 10px 0;
      padding: 5px;
    }
  }
}

.butterfly {
  position: relative;
  display: flex;
  width: 50%;
  margin: auto;
  color: @darkBlue;

  &__picture {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 250px;
    width: @butterfly-padding;
    background: url("../images/2.png") no-repeat center center;
    background-size: contain;
  }

  &__text-container {
    max-width: 600px;
    padding: 0 0 0 @butterfly-padding;

    &__h3 {
      font-family: "magic";
      font-size: 30px;
      margin: 20px auto;
      text-align: center;
    }

    &__text {
      margin: 10px auto;
      text-align: justify;
    }
  }
}

.explanation {
  margin: 0 335px 0 20px;
  text-align: justify;
}
