@import "./variables.less";
@import "./common.less";

* {
  margin: 0;
  padding: 0;
}

.header-container {
  position: relative;
  width: 700px;
  height: 550px;
  border: none;
  background: url("../images/1.png") no-repeat center center;
  background-size: cover;
  margin: auto;

  & .header {
    position: absolute;
    bottom: 7%;
    right: 3%;
    background-color: @darkBlueFaded;
    color: white;
    transition: all 2s;
    z-index: 1;
    width: 250px;


    &:hover {
      background-color: @darkBlue;
      z-index: 3;
    }

    & h1,
    & h2 {
      margin: 10px 0;
      padding: 5px;
    }
  }

  & .summary {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: @blue;
    color: white;
    z-index: 2;

    & p {
      margin: 10px 0;
      padding: 5px;
    }
  }
}

.preamble {
  display: flex;
  width: 50%;
  margin: auto;
  color: @darkBlue;

  &__picture {
    width: 50%;
    background: url("../images/2.png") no-repeat center center;
    background-size: contain;
  }

  &__text {
    max-width: 400px;
    margin: 10px auto;
    text-align: justify;
  }
}
